
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html{
        padding-top: 170px;
        padding-left: 30px;
        padding-right: 30px;
    }
   body{
       background-color:  rgb(59, 47, 80);
       font-size: 22px;
       padding: 21px;
       margin: 21px;
   }
   p{
       display: block;
       background-color:  rgb(170, 154, 199);
       padding: 32px;
       border-style: solid;
       border-width: 0.7px;
       font-size: small;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      li {
        display: inline;}
        li a {
            display: block;
            padding: 8px;
            background-color: blue;
          }
   
   .s{
       top: 0;
       text-decoration: none;
       color: darkkhaki;
       position: absolute;
       background-color: crimson;
       text-align: center;
       font-size: x-small;
       
   }
.d{
    display: block;
    left: 0;
   right: 100%;
    z-index: -3;
    position: absolute;
    top: 80%;
}
.e{
    display: block;
    left: 0;
   right: 100%;
    z-index: -3;
    position: absolute;
    top: 130%;
}
.f{
    display: block;
    left: 0;
   right: 100%;
    z-index: -3;
    position: absolute;
    top: 180%;
}
.g{
    display: block;
    left: 0;
   right: 100%;
    z-index: -3;
    position: absolute;
    top: 230%;
}
.h{
    display: block;
    left: 0;
   right: 100%;
    z-index: -3;
    position: absolute;
    top: 280%;
}
.j{
    display: block;
    left: 0;
   right: 100%;
    z-index: -3;
    position: absolute;
    top: 330%;
}
.k{
    display: block;
    left: 90%;
   right: 0;
    z-index: -3;
    position: absolute;
    top: 80%;
}
.l{
    display: block;
    left: 90%;
   right: 0;
    z-index: -3;
    position: absolute;
    top: 130%;
}
.m{
    display: block;
    left: 90%;
   right: 0%;
    z-index: -3;
    position: absolute;
    top: 180%;
}
.n{
    display: block;
    left: 90%;
   right: 0;
    z-index: -3;
    position: absolute;
    top: 230%;
}
.o{
    display: block;
    left: 90%;
   right: 0;
    z-index: -3;
    position: absolute;
    top: 280%;
}
.p{
    display: block;
    left: 90%;
   right: 0;
    z-index: -3;
    position: absolute;
    top: 330%;
}
.q{
    top: 23%;
    height: 130px;
    width: 130px;
    left: 60%;
    right: 0;
     z-index: -4;
     position: absolute;
}
.r{
    border: solid .8px black;
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    li a {
        display:block;
        background-color: rgb(59, 47, 80);
        width: 100%;
        color: antiquewhite;
        text-align: center;
        padding: 0;
        text-decoration: none;
        } 
a{
    text-decoration: none;}
ul{
    background: rgb(149, 118, 170);
    list-style-type: none;
    margin:0 ;
    padding: 0;
    overflow: hidden;
    
}
li{
    text-decoration: none;
    color: #fff;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    -webkit-text-decoration: 0.5s;
            text-decoration: 0.5s;
}


ul li ul{
background: rgb(65, 43, 128);
visibility: hidden;
opacity: 0;
min-width: 5rem;
position: absolute;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
margin-top: 1rem;
padding-left: 1rem;
left: 0;
display: none;
}
ul li:hover > ul,
ul li ul:hover{
visibility: visible;
opacity: 1;
display: block;
}
ul li ul li{
clear: both;
width: 100%;
}
:hover > a{
    color:rgb(12, 53, 54);

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    li a {
        display:block;
        background-color: rgb(59, 47, 80);
        width: 100%;
        color: antiquewhite;
        text-align: center;
        padding: 0;
        text-decoration: none;
        } 
a{
    text-decoration: none;}
ul{
    background: rgb(149, 118, 170);
    list-style-type: none;
    margin:0 ;
    padding: 0;
    overflow: hidden;
    
}
li{
    text-decoration: none;
    color: #fff;
    display: block;
    float: none;
    padding: 1rem;
    position: relative;
    -webkit-text-decoration: 0.5s;
            text-decoration: 0.5s;
}


ul li ul{
background: rgb(65, 43, 128);
visibility: hidden;
opacity: 0;
min-width: 5rem;
position: absolute;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
margin-top: 1rem;
padding-left: 1rem;
left: 0;
display: none;
}
ul li:hover > ul,
ul li ul:hover{
visibility: visible;
opacity: 1;
display: block;
}
ul li ul li{
clear: both;
width: 100%;
}
:hover > a{
    color:rgb(12, 53, 54);

}
}